<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918095370056-lkjg4fl7dksf0h3ohun2uc3f6m4j5pp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918095370056-lkjg4fl7dksf0h3ohun2uc3f6m4j5pp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDC5gu4MTm2fnU4yWrEilQ0RCvxmTgHbH8</string>
	<key>GCM_SENDER_ID</key>
	<string>918095370056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apress.VChat</string>
	<key>PROJECT_ID</key>
	<string>vchat-ce4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>vchat-ce4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918095370056:ios:1de08471c203500be8457d</string>
	<key>DATABASE_URL</key>
	<string>https://vchat-ce4f5.firebaseio.com</string>
</dict>
</plist>