<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072572550559-psc801cmne04ig3m4cbmpabukp9grr3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072572550559-psc801cmne04ig3m4cbmpabukp9grr3r</string>
	<key>API_KEY</key>
	<string>AIzaSyADl-XJVdIp7BJd-wknzMHVlIah30adaME</string>
	<key>GCM_SENDER_ID</key>
	<string>1072572550559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apress.VChat</string>
	<key>PROJECT_ID</key>
	<string>vchat2-dd65b</string>
	<key>STORAGE_BUCKET</key>
	<string>vchat2-dd65b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072572550559:ios:0fd7d4d725da3c04ac41aa</string>
</dict>
</plist>